<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap.min.css" />
    <title>TV Control</title>
  </head>
<body>
  <div class="container">
    <div class="row border-bottom border-primary py-2">
      <div class="col-2"><h4>Power</h4></div>
      <div class="col-2"><button id="power" class="btn">Power</button></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Input</h4></div>
    <div class="col-md"><button id="hdmi1" class="btn btn-block">Raspberry Pi (HDMI1)</button></div>
    <div class="col-md"><button id="hdmi2" class="btn btn-block">Chromecast (HDMI2)</button></div>
    <div class="col-md"><button id="hdmi3" class="btn btn-block">PC (HDMI3)</button></div>
    <div class="col-md"><button id="vga" class="btn btn-block">VGA</button></div>
    <div class="col-md"><button id="av" class="btn btn-block">AV</button></div>
    <div class="col-md"><button id="tv" class="btn btn-block">TV</button></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Volume</h4></div>
    <div class="col-md"><input name="volume" id="volume" type="range" class="form-control-range" oninput="document.querySelector('#volumeoutput').value=this.value"/></div>
    <div class="col-md-1"><output for="volume" id="volumeoutput"></output></div>
    <div class="col-md-2"><label class="" for="mute"><input type="checkbox" class="" id="mute">Mute</label></div>
  </div>
  <div class="row pt-4 mt-4">
    <div class="col-md-4"><h2>Picture Control</h2></div>
    <div class="col"><button id="defaults" class="btn btn-block btn-warning">Restore Defaults</button></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Brightness</h4></div>
    <div class="col-md"><input name="brightness" id="brightness" type="range" class="form-control-range" oninput="document.querySelector('#brightnessoutput').value=this.value"/></div>
    <div class="col-md-1"><output for="brightness" id="brightnessoutput"></output></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Contrast</h4></div>
    <div class="col-md"><input name="contrast" id="contrast" type="range" class="form-control-range" oninput="document.querySelector('#contrastoutput').value=this.value"/></div>
    <div class="col-md-1"><output for="contrast" id="contrastoutput"></output></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Sharpness</h4></div>
    <div class="col-md"><input name="sharpness" id="sharpness" type="range" class="form-control-range" oninput="document.querySelector('#sharpnessoutput').value=this.value"/></div>
    <div class="col-md-1"><output for="sharpness" id="sharpnessoutput"></output></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Color</h4></div>
    <div class="col-md"><input name="color" id="color" type="range" class="form-control-range" oninput="document.querySelector('#coloroutput').value=this.value"/></div>
    <div class="col-md-1"><output for="color" id="coloroutput"></output></div>
  </div>
  <div class="row border-bottom border-primary py-2">
    <div class="col-md-2"><h4>Tint</h4></div>
    <div class="col-md"><input name="tint" id="tint" type="range" class="form-control-range" oninput="document.querySelector('#tintoutput').value=this.value"/></div>
    <div class="col-md-1"><output for="tint" id="tintoutput"></output></div>
  </div>

<script src="../static/popper.min.js"></script>
<script src="../static/jquery-3.3.1.min.js"></script>
<script src="../static/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  // Handle inputs
  $("#hdmi1").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/hdmi1", success: function(result) { loadSettings(); } }); });
  $("#hdmi2").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/hdmi2", success: function(result) { loadSettings(); } }); });
  $("#hdmi3").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/hdmi3", success: function(result) { loadSettings(); } }); });
  $("#vga").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/vga", success: function(result) { loadSettings(); } }); });
  $("#av").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/av", success: function(result) { loadSettings(); } }); });
  $("#tv").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/input/tv", success: function(result) { loadSettings(); } }); });
  $("#power").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/power/toggle", success: function(result) { loadSettings(); } }); });
  $("#defaults").click(function(e) { e.preventDefault(); $.ajax({ url: "/set/defaults/ignored", success: function(result) { loadSettings(); } }); });

  $("#volume").change(function() { $.ajax({ url: "/set/volume/"+$("#volume").val(), success: function(result) { loadSettings(); } }); });
  $("#brightness").change(function() { $.ajax({ url: "/set/brightness/"+$("#brightness").val(), success: function(result) { loadSettings(); } }); });
  $("#contrast").change(function() { $.ajax({ url: "/set/contrast/"+$("#contrast").val(), success: function(result) { loadSettings(); } }); });
  $("#sharpness").change(function() { $.ajax({ url: "/set/sharpness/"+$("#sharpness").val(), success: function(result) { loadSettings(); } }); });
  $("#color").change(function() { $.ajax({ url: "/set/color/"+$("#color").val(), success: function(result) { loadSettings(); } }); });
  $("#tint").change(function() { $.ajax({ url: "/set/tint/"+$("#tint").val(), success: function(result) { loadSettings(); } }); });

  $("#mute").change(function() { 
    if($("#mute").prop('checked')) { var mutevalue = "On"; } else { var mutevalue = "Off"; }
    $.ajax({ url: "/set/mute/"+mutevalue, success: function(result) { loadSettings(); } }); 
  });


  function setActive(e) {
    e.removeClass("btn-secondary");
    e.addClass("btn-primary");
  }
  function setInactive(e) {
    e.removeClass("btn-primary");
    e.addClass("btn-secondary");
  }

  function loadSettings() {
    $.ajax({url: "/get/Settings", success: function(result) {
      var data = $.parseJSON(result);

      // Set color of power button
      $("#power").removeClass("btn-success");
      $("#power").removeClass("btn-danger");
      if(data.Power == "On") { $("#power").addClass("btn-success") } else { $("#power").addClass("btn-danger") }

      // Set color for inputs
      if(data.Input == "HDMI1") { setActive($("#hdmi1")) } else { setInactive($("#hdmi1")) }
      if(data.Input == "HDMI2") { setActive($("#hdmi2")) } else { setInactive($("#hdmi2")) }
      if(data.Input == "HDMI3") { setActive($("#hdmi3")) } else { setInactive($("#hdmi3")) }
      if(data.Input == "VGA") { setActive($("#vga")) } else { setInactive($("#vga")) }
      if(data.Input == "AV") { setActive($("#av")) } else { setInactive($("#av")) }
      if(data.Input == "TV") { setActive($("#tv")) } else { setInactive($("#tv")) }

      // Slider values
      $("#volume").val(data.Volume);
      $("#volumeoutput").val(parseInt(data.Volume));
      $("#brightness").val(data.Brightness);
      $("#brightnessoutput").val(parseInt(data.Brightness));
      $("#contrast").val(data.Contrast);
      $("#contrastoutput").val(parseInt(data.Contrast));
      $("#sharpness").val(data.Sharpness);
      $("#sharpnessoutput").val(parseInt(data.Sharpness));
      $("#color").val(data.Color);
      $("#coloroutput").val(parseInt(data.Color));
      $("#tint").val(data.Tint);
      $("#tintoutput").val(parseInt(data.Tint));

      // Mute
      if(data.Mute == "On") { $("#mute").prop('checked', true); } else { $("#mute").prop('checked', false); }


    }});
  }

  loadSettings();




});


</script>

</body>
</html>
